<div class="container">
  <div class="sidebar">
    <div class="boards-quantity">
      <p>ALL BOARDS (3)</p>
    </div>
    <div class="board-box">
      <div class="board-logo">
        <img src="../../../assets/icon-board.svg" />
      </div>
      <div class="board-name">
        <p>Platform Launch</p>
      </div>
    </div>
    <div class="board-box">
      <div class="board-logo">
        <img src="../../../assets/icon-board.svg" />
      </div>
      <div class="board-name">
        <p>Marketing Plan</p>
      </div>
    </div>
    <div class="board-box">
      <div class="board-logo">
        <img src="../../../assets/icon-board.svg" />
      </div>
      <div class="board-name">
        <p>Roadmap</p>
      </div>
    </div>
    <div class="create-board">
      <div class="board-logo">
        <img src="../../../assets/icon-board-blue.svg" />
      </div>
      <div class="board-name">
        <p>Create New Board</p>
      </div>
    </div>
  </div>
</div>
