<div class="container">
  <div class="sidebar">
    <div class="boards-quantity">
      <p>ALL BOARDS ({{ data?.boards?.length || 0 }})</p>
    </div>
    <div class="board-box" *ngFor="let board of data?.boards">
      <div class="board-logo">
        <img src="../../../assets/icon-board.svg" />
      </div>
      <div class="board-name">
        <p routerLink="board/{{ board.name }}" routerLinkActive="active-link">
          {{ board.name }}
        </p>
      </div>
    </div>
    <div class="create-board">
      <div class="board-logo">
        <img src="../../../assets/icon-board-blue.svg" />
      </div>
      <div class="board-name">
        <p>Create New Board</p>
      </div>
    </div>
  </div>
</div>
